


 .lol {
    color: aliceblue;
}

@import url('http://fonts.cdnfonts.com/css/alphacentauri');



.lp {
    position: relative;
    list-style: none;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 2px 5px 20px var(--clr);
    cursor: pointer;
    border-radius: 8px;
}

.fa {
    font-size: 2.5em;
    -webkit-text-stroke: 2px var(--clr);
    color: transparent;
}

.fa::before {
    /* content: ""; */
    /* position: absolute; */
    top: 0;
    left: 0;
    width: 100%;
    height: 0;
    border-bottom: 4px solid var(--clr);
    transition: 0.5s ease-in-out;



}

.fa:hover:before {
    height: 100%;
}









.lic
{
    color: bisque;
}
.section-gap {
    padding: 70px 0;
}
.navbar-brand {}

.navbar-brand img {
    width: 50px;
    height: 50px;
}

header {
    background-color: black;
}

.top-content {
    background-color: black;
    /* height:90vh; */

}

.text-1 {
    margin-top: 45%;
}

.hero {
    position: relative;
    width: 300px;
    height: 300px;
}



.padding-top {
    padding-top: 276px;
    padding-bottom: 296px;
}



.Image{

    background-image: url("img/2.jpeg");
    height:50%;
    width: 50%;
    background-size:cover;
    /* border:2px solid orange; */
}

.border-radiuss {
    border-radius: 50px;
}

.around {
    margin-top: 50px;
    margin-left: 64px;
}

.hero div {
    position: absolute;
    top: 0;
    left: 0;
    text-decoration: none;
    width: 100%;
    height: 100%;
    transform: rotate(calc(36deg * var(--i)));

}



@keyframes animat {
    0% {
        transform: rotate(0);
        filter: hue-rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
        filter: hue-rotate(360deg);
    }
} */


.cont {
    position: relative;
    width: 250px;
    height: 300px;

}

image {
    position: absolute;
    top: 0;
    left: 0;
    width: 20%;
    height: 10%;
    object-fit: cover;
    animation: cycle 1.5s linear infinite Os forwards;
    animation-play-state: paused;
}

.cont:hover .image {
    animation-play-state: running;
}

.image-1 {

    z-index: 10;
}

.image-2 {
    z-index: 9;
    animation-delay: .15s;
}

.image-3 {
    z-index: 8;
    animation-delay: .3s;
}

.image-4 {
    z-index: 7;
    animation-delay: .45s;
}

;

.image-5 {
    z-index: 6;
    animation-delay: .600s;
}

;

@keyframes cycle {
    from {
         visibility: visible;
        z-index: 11;
    }to{
        
            visibility: hidden;
            z-index:0;
    }
}
.main-footer{
    background-color: #F3FE39;
    clip-path: polygon(28% 41%, 71% 22%, 100% 5%, 100% 100%, 61% 100%, 18% 100%, 0 100%, 0 29%);
}
.f1{
    margin-top: 200px;
}
.card{
    width: 200px;
    margin-top: 20px;
}
.c1{
    width: 50%;
}
#subks{
    font-size: 15px;
}
#amw{
    width:300px;
}
@media screen and (max-width:550px) {
    .r1{
        flex-direction: column;
        justify-content: flex-start;
    }
    .c1{
        width: 50%;
    }
    .Image{
        width: 200px;
        height: 200px;
    }
    #cardss{
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
}
@media screen and (max-width:350px){
    .f1{
        flex-direction: column;
        align-items: center;
        margin-top:auto;
    }
    #main_footer{
        clip-path: polygon(25% 0, 70% 0, 100% 0, 100% 100%, 61% 100%, 18% 100%, 0 100%, 0 0);    }
        #lang{
            flex-direction: column;
            align-items: center;
            color: rgb(0, 123, 255);
        }
        .card{
            margin-top: 20px;
        }
        .r{
            flex-direction: column;
            
        }
        #amw{
            width:250px;
        }
}

@media screen and (max-width: 400px){
    #ks{
        font-size: 10px;
    }
    b{
        font-size: 6px;
    }
    #subks{
        font-size: 8px;
    }
}
@media screen and (max-width: 500px) {
    .Image{
        width: 300px;
        height: 300px;
    }
}
@media screen and (max-width: 767px) {
    .dnd3{
        /* margin: auto;
        border: 2px solid orange; */
        margin:20px 0px;
        text-align: center;
    }
    .dnd3 img{
        /* border:2px solid red; */
        width: 200px;
        
    }
}
@media screen and (max-width: 310px) {
    #amw{
        width:200px;
    }
    .lp{
        width: 20px;
        height: 20px;
    }
}
@media screen and (max-width: 285px) {
    #kiss{
        margin-top: 150px;
    }
}
@media screen and (max-width: 1024px) {

}
@media screen and (max-width:1200px){

}
@media screen and (max-width:1400px){

}